<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Köszönjük!</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<div class="container">
    <h1>Köszönjük az ajánlatkérést!</h1>
    <p style="text-align: center; font-size: 18px;">Hamarosan felvesszük Önnel a kapcsolatot.</p>

    <div style="text-align: center; margin-top: 20px;">
        <button id="backButton" class="submit-button">Új ajánlatkérés</button>
    </div>
</div>

<script>
    document.getElementById("backButton").addEventListener("click", function() {
        window.parent.postMessage("closeThankYou", "*");
    });
</script>

</body>
</html>
